 
* {
    margin: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    text-align: justify;
    padding: 20px;
    background-color:#E0E0DB;
}


header {
    text-align: center;
}

h1 {
    font-size: 48px;
    color:#253551;
    padding: 20px;
    font-style:  initial;
    font-weight:bolder;
    background-color: #E0E0DB;
}

img {
    max-width: 100%;
    border-radius: 50px;
}


section {
    margin-bottom: 20px;
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #253551;
    padding: 10px;
}

p {
    margin-bottom: 20px;
    padding: 10px;
}

.biografia {
    background-color:  #E0E0DB;
    padding: 20px;
}

.sub3 {
    font-size: 18px;
    color: #253551;
    font-style: italic;
    margin-bottom: 5px;
}

div {
    text-align: center;
}

h3{
    font-size: 16px;
    margin-bottom: 5px;
    color: #253551;
    font-style: italic;
}


aside {
    padding: 20px;
}


footer {
    text-align: center;
    color: white;
    background-color:#253551;
}


/*
@media (max-width: 768px) {
    
    h1 {
        font-size: 28px;
    }
    h2 {
        font-size: 20px;
    }
}


